include AUTHORS
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include Makefile
include tox.ini
recursive-include requirements *.txt
graft docs
graft tests

exclude .editorconfig
global-exclude __pycache__
global-exclude *.py[co]
prune cookiecutter
# FIXME: include at point
prune examples
